{:deps   {:aliases [:dev]}

 :dev-http {5000 ["public" "public/app"]
            5001 ["public" "public/portfolio" "classpath:public"]
            5002 ["out/tests"]}

 :builds {:app {:target           :browser
                :devtools         {:preloads [dev.refresh]
                                   :reload-strategy :full}
                :output-dir       "public/app/js"
                :asset-path       "/js"
                :modules          {:main {:init-fn main.app/init}}
                :compiler-options {:install-deps true}
                :js-options       {:js-provider :external
                                   :external-index "public/app/js/lib.js"
                                   :external-index-format :esm}
                :build-hooks      [(dev.shadow.hooks/esbuild)
                                   (dev.shadow.hooks/hashed-files
                                    ["public/app/app.css"
                                     "public/app/js/main.js"
                                     "public/app/js/lib.bundle.js"])
                                   (dev.shadow.hooks/replace-hashed-files
                                    "resources/index.src.html"
                                    "public/app/index.html")]}

          :portfolio {:target :browser
                      :output-dir "public/portfolio"
                      :asset-path "/portfolio"
                      :modules {:main {:init-fn portfolio.core/init}}}

          :tests {:target    :browser-test
                  :test-dir  "out/tests"
                  :ns-regexp "-test$"}

          :node-tests {:target    :node-test
                       :main      node/main
                       :output-to "out/node-tests.js"}}}
